body {
  background-color: #62c2c8;
}

.app{
background-color: white;
min-height: 80vh;
margin: 20px auto;
width: 400px;
}
input{
  flex: 1;
  padding: 4px;
  margin: 6px;
  font-family: 'Montserrat', sans-serif;

}


.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

.add {

  background: #65aa06;
  margin-top: 5px;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;

}
li,ul{
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  padding: 8px;
  margin: 0;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
}
img{
  border-radius: 50%;
}